<div class="container">
    <div class="footer__inner">
        <div class="footer__row">
            <div class="footer__col">
                <div class="logo footer__logo">
                    <img src="./assets/icons/logo.svg" alt="grocerymart" class="logo__img">
                    <h1 class="logo__title">grocerymart</h1>
                </div>
                <p class="footer__desc">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam nemo et nesciunt vel iusto reprehenderit.
                </p>
                <h3 class="footer__title">
                    Receive product news and updates
                </h3>
                <div class="footer__act-wrap">
                    <div class="footer__email-input">
                        <input 
                            type="email" 
                            name="" 
                            id="" 
                            placeholder="Email address"
                            class="footer__input">
                    </div>
                    <button type="submit" class="btn btn--primary">SEND</button>
                </div>
            </div>
            <div class="footer__col">
                <h2 class="footer__heading">SHOP</h2>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#!" class="footer__link">All Departments</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Fashion Deals</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Electronics Discounts</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Home & Living Specials</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Beauty Bargains</a>
                    </li>
                </ul>
            </div>
            <div class="footer__col">
                <h2 class="footer__heading">COMPANY</h2>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Customer Service</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Terms of Use</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Privacy</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Careers</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">About</a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Afiliates</a>
                    </li>
                </ul>
            </div>
            <div class="footer__col">
                <h2 class="footer__heading">CONTACT</h2>
                <span class="footer__text">Email</span>
                <p class="footer__desc-info">contact@grocerymart.com</p>
                <span class="footer__text">Hotline</span>
                <p class="footer__desc-info">18008888</p>
                <span class="footer__text">Address</span>
                <p class="footer__desc-info">33/6/21C 390 Ngo Quyen, Vinh Lac, Rach Gia, Kien Giang</p>
                <span class="footer__text">Hours</span>
                <p class="footer__desc-info">M - F 08:00am - 06:00pm</p>
            </div>
        </div>
    </div>
    <div class="footer__copyright">
        <p class="footer__copyright-text">
            Copyright © 2026 GroceryMart. All rights reserved.
        </p>
        <div class="footer__socials">
            <div class="footer__social">
                <a href="#!" class="footer__social-link">
                    <img src="./assets/icons/facebook.svg" alt="" class="icon footer__social-icon">
                </a>
            </div>
            <div class="footer__social">
                <a href="#!" class="footer__social-link">
                    <img src="../assets/icons/youtube.svg" alt="" class="icon footer__social-icon">
                </a>
            </div>
            <div class="footer__social">
                <a href="#!" class="footer__social-link">
                    <img src="../assets/icons/tiktok.svg" alt="" class="icon footer__social-icon">
                </a>
            </div>
            <div class="footer__social">
                <a href="#!" class="footer__social-link">
                    <img src="../assets/icons/twitter.svg" alt="" class="icon footer__social-icon">
                </a>
            </div>
            <div class="footer__social">
                <a href="#!" class="footer__social-link">
                    <img src="../assets/icons/linked.svg" alt="" class="icon footer__social-icon">
                </a>
            </div>
        </div>
    </div>
</div>