@use "../abstracts";
.home{
    margin-bottom: 50px;

    &__container{
        margin-top: 40px;

        @include abstracts.breakpoint(md){
            margin-top: 30px;
        }
    }

    &__heading{
        margin-bottom: 20px;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.41;
    }

    &__cate{
        @include abstracts.breakpoint(md){
            --grid-gutter-y:20px;
        }
    }

    &__row{
        display: flex;
        justify-content: space-between;
    }
}