@use "../abstracts";

html.dark {
  --text-color: #fff;
  --icon-color: brightness(0) saturate(100%) invert(98%) sepia(11%)
    saturate(429%) hue-rotate(212deg) brightness(116%) contrast(100%);

  --body-bg:#292e39;
  --header-bg-color: #171c28;
  --top-act-group-bg-color: #292e39;
  --top-act-group-shadow: rgba(0, 0, 0, 0.2);
  --top-act-group-separate: #ededf6;

  // DROPDOWN
  --dropdown-bg-color:#2f3441;
  --dropdown-shadow-color:rgba(23, 28, 40, 0.40);
  --dropdown-arrow-color:brightness(0) saturate(100%) invert(19%) sepia(4%) saturate(3090%) hue-rotate(186deg) brightness(94%) contrast(92%);
  --top-menu-border-color:#171C28;
  --menu-column-icon-color:brightness(0) saturate(100%) invert(97%) sepia(7%) saturate(1935%) hue-rotate(281deg) brightness(105%) contrast(96%);

  // SIDEBAR
  --sidebar-bg:#292E39;
  --sidebar-shadow: 0px 40px 90px 20px rgba(200, 200, 200, 0.40);

  // Category
  --cate-item-bg:#171C28;
  --cate-item-thumb-bg:#292e39;
  --cate-item-title-color:#fff;

  //BUTTONS
  --filter-btn-color:#FFF;
  --filter-btn-bg:#171C28;
  --like-btn-shadow:rgba(124, 124, 124, 0.2);
  --like-btn-bg:#292E39;

  //PRODUCT
  --product-item-bg:#171C28;
  --product-item-shadow:rgba(0, 0, 0, 0.20);
  --product-brand-color:#9E9DAB;

}