@use "../abstracts";

html.dark {
  --text-color: #fff;
  --icon-color: brightness(0) saturate(100%) invert(98%) sepia(11%)
    saturate(429%) hue-rotate(212deg) brightness(116%) contrast(100%);

  --body-bg:#292e39;
  --header-bg-color: #171c28;
  --top-act-group-bg-color: #292e39;
  --top-act-group-shadow: rgba(0, 0, 0, 0.2);
  --top-act-group-separate: #ededf6;
  --search-bag-color:#171C28;

  // HEADER
  --header-act-dropdown-bg:#292E39;
  --header-act-dropdown-shadow:rgba(23, 28, 40, 0.40);
  --header-act-dropdown-separate:#D2D1D6;

  // DROPDOWN
  --dropdown-bg-color:#2f3441;
  --dropdown-shadow-color:rgba(23, 28, 40, 0.40);
  --dropdown-arrow-color:brightness(0) saturate(100%) invert(19%) sepia(4%) saturate(3090%) hue-rotate(186deg) brightness(94%) contrast(92%);
  --top-menu-border-color:#171C28;
  --menu-column-icon-color:brightness(0) saturate(100%) invert(97%) sepia(7%) saturate(1935%) hue-rotate(281deg) brightness(105%) contrast(96%);

  // SIDEBAR
  --sidebar-bg:#292E39;
  --sidebar-shadow: 0px 40px 90px 20px rgba(200, 200, 200, 0.40);

  // Category
  --cate-item-bg:#171C28;
  --cate-item-thumb-bg:#292e39;
  --cate-item-title-color:#fff;

  //BUTTONS
  --filter-btn-color:#FFF;
  --filter-btn-bg:#171C28;
  --like-btn-shadow:rgba(124, 124, 124, 0.2);
  --like-btn-bg:#292E39;
  --filter-btn-icon: brightness(0) saturate(100%) invert(82%) sepia(0%) saturate(725%) hue-rotate(285deg) brightness(93%) contrast(89%);
  --btn-outline-color:#B9BABE;

  

  //PRODUCT
  --product-item-bg:#171C28;
  --product-item-shadow:rgba(0, 0, 0, 0.20);
  --product-brand-color:#9E9DAB;

  //Filter form
  --filter-form-bg:var(--dropdown-bg-color);
  --filter-form-shadow:rgba(0, 0, 0, 0.40);
  --form__tag-bg:#171C28;
  --filter-form-arrow:var(--dropdown-arrow-color);
  --filter-form-btn-primary:#1a162e;

  //Auth
  --auth-content-bg:#292E39;
  --auth-intro-bg:#171C28 !important;
  --auth-intro-color:#B9BABE;

  //Product page
  --product-detail-bg:#292E39;
  --breadcumb-bg-color:#171C28;
  --breadcumb-shadow-color:rgba(23, 28, 40, 0.20);

  --prod-info-bg:#171C28;
  --prod-info-tag-color:#292E39;
  @include abstracts.breakpoint(md){
    --product-conatiner-bg:#171C28;
    --prod-info-review:#171C28;
    --prod-tab-bg:#292E39;
  }

  // Review card
  --review-card-bg:#171C28;

  // Checkout
  --checkout-breadcumb-bg:#171C28;
  --cart-info-bg:#171C28;
  --cart-info-shadow:rgba(23, 28, 40, 0.20);
  --cart-item-border:#292E39;

  //Dialog
  --dialog-bg:#2f3441;
  --dialog-shadow:rgba(23, 28, 40, 0.40);

  //Payment
  --payment-item-bg:#292E39;

}