@use "../abstracts";

html {
  --text-color: #1a162e;
  --icon-color: brightness(0) saturate(100%) invert(8%) sepia(26%)
    saturate(1305%) hue-rotate(210deg) brightness(101%) contrast(97%);

  --body-bg:#f6f6f6;
  --header-bg-color: #eee;
  --footer-bg-color:var(--header-bg-color);
  --top-act-group-bg-color: #fff;
  --top-act-group-shadow: rgba(237, 237, 246, 0.2);
  --top-act-group-separate: #ededf6;

  @include abstracts.breakpoint(lg){
    --header-bg-color: #fff;  
  }

  // DROPDOWN
  --dropdown-bg-color:#fff;
  --dropdown-shadow-color:rgba(200, 200, 200, 0.40);
  --top-menu-border-color:#d2d1d6;

  // SIDEBAR
  --sidebar-bg:#fff;
  --sidebar-shadow:rgba(23, 28, 40, 0.40);

  // CATEGORY
  --cate-item-bg:#eee;
  --cate-item-thumb-bg:#fff;
  --cate-item-title-color:#000;

  @include abstracts.breakpoint(md){
    --cate-item-bg:#fff;
  }

  //BUTTONS
  --filter-btn-color:#6C6C72;
  --filter-btn-bg:#fff;
  --like-btn-shadow:rgba(124, 124, 124, 0.20);
  --like-btn-bg:#fff;

  //PRODUCT
  --product-item-bg:#fff;
  --product-item-shadow:rgba(237, 237, 246, 0.20);
  --product-brand-color:#9E9DAB;

  //Filter form
  --filter-form-bg:#fff;
  --filter-form-shadow:rgba(200, 200, 200, 0.40);
  --filter-form-tag-bg:#f8f8fb;

  //Auth
  --auth-content-bg:#fff;
}