.dropdown{
    position: absolute;
    left: 0;
    padding-top: 54px;
    width: min(1140px, 100%);
    // display: none;

    &__inner{
        --inner-padding:60px;

        position: relative;
        padding:30px;
        border-radius: 20px;
        background: var(--dropdown-bg-color);
        box-shadow: 0 40px 90px 20px var(--dropdown-shadow-color);

        &::before{
            content:url("../icons/dropdown-arrow.svg");
            position: absolute;
            top: -13px;
            left: var(--arrow-left-pos);
            translate: -20px 0;
            filter:var(--dropdown-arrow-color);
        }
    }
}

.top-menu{
    --main-column-width:292px;

    position: relative;

    &__main{
        overflow-y: auto;
        width: var(--main-column-width);
        max-height:calc(min(582px, 100vh - 134px) - var(--inner-padding) * 2);
        border-right:1px solid var(--top-menu-border-color);
    }
}

.menu-column{
    display: flex;
    gap: 14px;

    &__icon{
        flex-shrink: 0;
        position:relative;
        width: 36px;
        height: 36px;
    }

    &__content{
        flex:1;
    }

    &__icon-1{
        width: 30px;
        height: 30px;
        object-fit: cover;
    }

    &__icon-2{
        position: absolute;
        right: 0;
        bottom: 0;
        width: 24px;
        height: 24px;
        object-fit: cover;
        filter:var(--menu-column-icon-color);
    }

    &__heading{
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
        margin:6px 0;
    }

    &__list{
        margin-top: 19px;
    }

    &__link{
        display: block;
        padding:7px 0;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.42;
    }

    &__link:hover{
        color:#0071DC;
        font-weight: 500;
    }
}

.sub-menu{
    position: absolute;
    inset:0 0 0 var(--main-column-width);
}
