@use "../abstracts";

.form{
    &__group{
        margin-top: 30px;

        @include abstracts.breakpoint(md){
            margin-top: 20px;
        }

        &--inline{
            display: flex;
        }
    }

    &__row > *{
        flex: 1;
    }

    &__row{
        display: flex;
        gap:30px;
    }



    &__group:has(:invalid):has(&__input:not(:placeholder-shown)){
        .form__text-input{
            border-color: red;
        }

        .form__error,
        .form__input-icon-error{
            display: block;
        }

        .form__input-icon{
            display: none;
        }
    }


    &__text-input,
    &__text-area{
        display: flex;
        align-items: center;
        height: 50px;
        border-radius: 10px;
        border: 1px solid #D2D1D6;
        padding:0 12px;
        overflow: hidden;

        &--small{
            height: 42px;
        }

        &:focus-within{
            border-color: #77dae6;
        }
    }

    &__text-area-input{
        resize: none;
    }

    &__input,
    &__text-area-input{
        flex:1;
        width: 100%;
        height: 100%;

        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.44;/* 144.444% */
        background: transparent;

        @include abstracts.breakpoint(md){
            font-size: 1.6rem;
            line-height: 1.5; /* 150% */
        }

        &::placeholder{
            color:#d2d1d6;
        }

        &-icon{
            margin-left: 12px;
        }
    }

    &__error{
        text-align: left;
        font-size: 1.4rem;
        font-weight: 500;
        margin-top: 10px;
        color:red;
        display: none;
    }

    &__input-icon-error{
        display: none;
        margin-left: 12px;
        animation: shake 0.5s;
    }

    &__pull-right{
        margin-left: auto;
    }

    &__checkbox{
        position: relative;
        display: flex;
        gap: 10px;
        align-items: center;

        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.46; /* 146.667% */
        color:#9E9DA8;

        cursor: pointer;
        user-select:none;

        &::before,
        &::after{
            display: inline-block;
            content:"";
        }

        &::before{
            width: 18px;
            height: 18px;
            border: 1px solid #9E9DA8;
            border-radius: 4px;
            flex-shrink: 0;
        }

        &::after{
            position: absolute;
            width: 8px;
            height: 6px;
            border-left: 2px solid #fff;
            border-bottom: 2px solid #fff;
            rotate: -45deg;
            left: 3%;
            top: 49%;
            translate: 0 -50%;
            display: none;
        }

        &:has(.form__checkbox-input:checked) {
            &::before {
                background-color: #77dae6;
                border-color: #77dae6;
            }

            &::after{
                display: block;
            }
        }
    }

    &__label{
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 1.45;
        display: block;

        &--medium{
            margin-bottom: 20px;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 144.444%;

            @include abstracts.breakpoint(md){
                font-size: 1.6rem;
                margin-bottom: 10px;
            }
        }

         &--small{
            margin-bottom: 10px;
            font-size: 1.4rem;
            line-height: 1.42;
        }
    }

    &__select-wrap{
        border-radius: 6px;
        border: 1px solid #D2D1D6;
        display: flex;
        align-items: center;
        height: 45px;
    }

    &__select{
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width:var(--width,108px);
        padding: 0 14px;
        height:calc(100% - 10px);

        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.42;

        @include abstracts.breakpoint(xl){
            flex: 1;
        }

        &-dialog{
            position: absolute;
            top:66px;
            left: 30px;
            z-index: 1;
            display: flex;
            flex-direction: column;
            opacity: 0;
            visibility: hidden;
            translate: 0 8px;
            transition: opacity, visibility, translate;
            transition-duration: 0.2s;
            min-width: 230px;
            max-height: 310px;
            padding-bottom:10px;
            border: 1px solid #d2d1d6;
            border-radius: 10px;
            box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.15);
            background: #fff;


            &.show{
                opacity: 1;
                visibility: visible;
                translate: 0;
            }
        }
    }

    &__select + &__select{
        border-left: 1px solid #D2D1D6;
    }

    &__tags{
        display: flex;
        gap:10px 14px;
        flex-wrap: wrap;
    }

    &__tag{
        padding: 6px 12px;
        border-radius: 6px;
        background: var(--form__tag-bg);

        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.42;
        color:#9E9DA8;
        transition: color 0.3s;

        &:hover{
            color:var(--text-color);
        }
    }

    &__text-area{
        height: 100px;
        padding: 12px;
    }

    &__close-dialog{
        margin-right: 10px;
        text-align: end;
        font-size: 2rem;
    }

    &__search{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-shrink: 0;
        height: 38px;
        padding: 0 10px;
        border-bottom: 1px solid #d2d1d6;

        &-input{
            flex: 1;
            height: 100%;
            font-size: 1.6rem;
        }

        &-icon{
            width: 16px;
            margin-left: 10px;
        }
    }

    &__options-list{
        flex: 1;
        margin-top: 10px;
        overflow-y: auto;
        overscroll-behavior: contain;
    }

    &__option{
        padding: 8px 20px;
        font-size: 1.4rem;

        &:hover{
            background: #ebebeb;
            cursor: pointer;
        }

        &--current{
            font-weight: 500;
            background: rgba(255, 183, 0, 0.6);
        }
    }
}