@use "../abstracts";

.slideshow{
    position: relative;

    &__inner{
        display: flex;
        overflow: hidden;
    }

    &__item{
        padding-top:34%;
        flex-shrink:0;
        width: 100%;

        @include abstracts.breakpoint(md){
            padding-top:50%;
        }
    }

    &__img{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 20px;
    }

    &__page{
        position: absolute;
        bottom: 14.6%;
        left: 5.2%;
        display: flex;
        align-items: center;
        gap: 20px;
        width: 13%;

    }

    &__num{
        color:#FFF;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.44; /* 144.444% */
        
        @include abstracts.breakpoint(md){
            font-size: 1.4rem;
            line-height: 1.42;
        }
    }

    &__slider{
        width: 100%;
        height: 4px;
        flex-shrink:0;
        background: #fff;

        &::after, &::before{
            content:"";
            position: absolute;
            top:50%;
            translate: 0 -50%;
            border:4px solid #fff;
            border-radius: 50%;
            width: 14px;
            height: 14px;

            @include abstracts.breakpoint(md){
            border:3px solid #fff;
            }   
        }

        &::after{
            right:0;
            translate:279% -50%;
        }

        &::before{
            left:0;
            translate:113% -50%;
        }
    }
}